* {
    font-family:
        "0xProto Nerd Font",
        sans-serif;
}

#waybar {
    background: white;
    border-radius: .75rem;
}

.modules-right {
    margin-right: 20;
}

.modules-left {
    margin-left: 20;
}

.modules-right .module {
    margin: 2rem
}

#workspaces {
    font-size: 1.2rem;
}

#clock {
    font-size: 1.1rem;
    padding: 0;
}

#battery, #network {
    font-size: 1.2rem;
    /* padding-right: 20; */
    font-weight: 100;
}

#custom-power {
    font-size: 1.2rem;
    /* padding-left: 10; */
    /* margin-left: 10; */
    /* padding-right: 10; */
    border: 2px solid black ;
}

menu {
	border-radius: 15px;
	background: #161320;
	color: #B5E8E0;
}
menuitem {
	border-radius: 15px;
}